#control div, h1 {
    display: block;
    width: 100%;
}

#control h1 {
    font-size: 20px;
    margin: 0px;
    color: Gainsboro;
    background: #506080;
}

#control #interaction_area {
    position: relative;
    overflow: hidden;
    height: 354px; /*hehe*/
}

#control .formula {
    width: 100%;
    font-style: italic;
}

#control .formula div {
    height: 25px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#control .formula.point_info div {
    width: 50%;
}

#control #interaction_area .shifter {
    position: absolute;
    height: 100%;
    white-space: nowrap;
}

#control #interaction_area .page {
    width: 280px;
    height: 100%;
    float: left;
}



#control #information_area {
    width: 100%;
    height: 250px;
    position: relative;
}

#control #information_area #speech_bubble {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    max-height: 210px;
    height: 210px;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 19px;
    margin-right: 19px;

    -webkit-transition-property: top height;
    -webkit-transition-duration: 0.9s;
}

#control #information_area #speech_bubble.overtake {
    max-height: 450px;
    height: 450px;
    top: -5%;
}

#control #information_area #speech_bubble .page p, li{
    max-width: 230px;
    margin: 0px;
    padding: 5px;
    font-family: Arial;
}

#control #information_area #speech_bubble .page {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

#control #information_area #speech_bubble .page .button_area {
    position: absolute;
    bottom: 5px;
    color: Gainsboro;
    width: 202px;
    margin-left: 20px;
    margin-right: 20px;
}

#control #information_area #speech_bubble .page .button_area a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#control #information_area #speech_bubble .page .button_area a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#control #information_area #speech_bubble .page .button_area a {
    width: 50%;
    height: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    color: Gainsboro;
    background: #506080;
    text-align: center;
    vertical-align: middle;
}

#control #information_area #speech_bubble .page .button_area a#lb {
    float: left;
}

#control #information_area #speech_bubble .page .button_area a#rb {
    float: right;
}

#control #information_area #speech_bubble .page .button_area a:hover {
    background: #334466;
}

#control #information_area #speech_bubble .page .button_area a:active {
    background: #203040;
}

span.subscript {
    vertical-align: sub;
}
