body, html {
    height: 100%;
}

#container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    min-width: 880px;
    width: 70%;
    clear: both;

    /*Calculate on load method for vertical centering.*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
}

#grid {
    border-radius: 5px;
    background: #333333;
    width: 600px;
    height: 600px;
    padding: 2px
}

#control {
    border-radius: 10px;
    background: #DDDDDD;
    height: 600px;
    width: 250px;
}
