/*TODO: implement this with other prefixes too.*/
body, html {
    height: 100%;
    background: LightCyan;
    margin: 0px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 884px;
    clear: both;

    /*Calculate on load method for vertical centering.*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 5px;
    overflow: hidden;
}

.horizontal {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

#grid {
    background: #506080;
    width: 600px;
    height: 600px;
    padding: 2px;
    -webkit-user-select: none;
}

#control {
    background: Gainsboro;
    height: 604px;
    width: 280px;
}
