/*Stylesheet for the "pixels" in the grid for BrenshenhamsLineGame.
Author: Huba Nagy*/
/*TODO: implement prefixed properties with other prefixes as well.*/

.grid_row {
    height: 30px;
    width: 100%;
}

.pixel_container {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 1px;
    border: 1px solid #445577;
    border-radius: 5px;
}

.pixel_container.current {
    border: 1px solid LightGreen;
}

.pixel_container.end_point {
    border: 1px solid FireBrick;
}

.pixel_container.option {
    border: 1px solid DarkSalmon;
    -webkit-animation-name: pulsate_option;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: 6;
}

.pixel_container.option.above {

}

.pixel_container.option.inline {

}

@-webkit-keyframes pulsate_option {
    0%  { border-color: DarkSalmon; }
    100%{ border-color: LightCoral; }
}

.pixel_base {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pixel_base div {
    height: 50%;
}

.p_top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #667799;
}

.p_bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EEEEEE;
}

.pixel_container .pixel_paddle {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-animation: turn_on 0.2s;
    -webkit-animation-fill-mode: both;
}

.pixel_container .pixel_paddle div {
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -webkit-animation: turn_on_color 0.2s;
    -webkit-animation-fill-mode: both;
}


/*Animate turning off*/
.pixel_container.off .pixel_paddle div {
    -webkit-animation: turn_off_color 0.2s;
    -webkit-animation-fill-mode: both;
}

.pixel_container.off .pixel_paddle {
    -webkit-animation: turn_off 0.2s;
    -webkit-animation-fill-mode: both;
}


/*Keyframe definitions*/
@-webkit-keyframes turn_off {
    0%  {-webkit-transform: rotateX(0deg)}
    25% {-webkit-transform: rotateX(45deg)}
    50% {-webkit-transform: rotateX(90deg)}
    75% {-webkit-transform: rotateX(135deg)}
    100%{-webkit-transform: rotateX(180deg)}
}

@-webkit-keyframes turn_off_color {
    0%  {background: #EEEEEE}
    49% {background: #EEEEEE}
    50% {background: #667799}
    100%{background: #667799}
}

@-webkit-keyframes turn_on {
    0%  {-webkit-transform: rotateX(180deg)}
    25% {-webkit-transform: rotateX(135deg)}
    50% {-webkit-transform: rotateX(45deg)}
    75% {-webkit-transform: rotateX(90deg)}
    100%{-webkit-transform: rotateX(0deg)}
}

@-webkit-keyframes turn_on_color {
    0%  {background: #667799}
    50% {background: #667799}
    51% {background: #EEEEEE}
    100%{background: #EEEEEE}
}
